<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />

    <title>Python Website</title>
  </head>
  <body>
    <div id="header">
      <div class="jumbotron" style="background-color: #686868">
        <h1 class="display-4" style="color: white; font-weight: bold">
          대구가톨릭대학교
        </h1>
        <p class="lead" style="color: white; text-decoration: underline">
          DCU 소식 희망을 전하는 대구가톨릭대학교의 알찬소식!
        </p>
        <hr class="my-4" />
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">홈</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">소개 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/board/list">게시판</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>

    <div id="dcu" style="margin-bottom: 100px">
      <h3>게시판 목록</h3>
      <table style="width: 100%; background-color: beige">
        <tr style="height: 45px">
          <th style="color: black; width: 10%; text-align: center">번호</th>
          <th style="color: black; width: 50%; text-align: center">제목</th>
          <th style="color: black; width: 15%; text-align: center">이름</th>
          <th style="color: black; width: 15%; text-align: center">날짜</th>
          <th style="color: black; width: 10%; text-align: center">조회</th>
        </tr>
        {% if rows%}
        <tr>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
        </tr>
        {% else %}
        <tr>
          <td colspan="5" style="background-color: black; text-align: center">
            등록된 글이 없습니다.
          </td>
        </tr>
        {% endif%}
        <tr>
          <td colspan="5" style="text-align: right">
            <a class="btn btn-warning" href="/board/write" role="button"
              >글쓰기</a
            >
          </td>
        </tr>
      </table>
    </div>

    <!-- footer 영역-->
    <div id="footer">
      <div
        class="jumbotron jumbotron-fluid"
        style="height: 100px; background: #1e1e1e"
      >
        <div class="container" style="height: 80px">
          <h1 class="display-4" style="font-size: 15px; color: #ffffff">
            대구가톨릭대학교
          </h1>
          <p class="lead" style="font-size: 13px; color: #ffffff">
            Copyright by Daegu Catholic University, all rights reserved.
          </p>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
